footer {
  background-color: #ffffff;
  color: #000000;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #ccc;
}



footer div {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 10px;
}

footer h3 {
  font-size: 18px;
  margin-top: 10px;
}

footer p {
  margin-top: 10px;
}

.container-footer div i {
  font-size: 2em;
  margin: 10px;
  color: #03264C;
  transition: color 0.3s ease;

}

.container-footer div:hover i {
  color: #3300ff;
}

@media (min-width: 1024px) {

  .container-footer {
    display: flex;
    flex-wrap: nowrap;
    padding: 04%;

  }

}