header {
  background-color: #EAC926;
  color: #000000;
  padding: 20px;

}

.contenedor {
  display: flex;
  padding: 20px;
  align-items: center;
}

.header-icons {
  margin: 20px 0;
  text-align: center;

}

.header-icons i {
  margin-right: 5px;
}




.logo {
  display: flex;
  align-items: center;
  margin-left: 1%;

}

.logo img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}


.logo-search {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-search form {
  display: flex;
}

.logo-search button {
  padding: 5px;
  margin-left: 10px;
}

nav {
  display: none;
}


nav ul li {
  list-style: none;
}


.logo-search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}

.logo-search i {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


.burger-menu {
  display: flex;
  justify-content: center;

}

.burger-menu i {

  text-align: center;
  justify-content: space-between;
  background-color: #0044AA;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

.header-icons i {

  margin-right: 10px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .header-icons2 {
    display: none;
  }
}




@media (max-width: 767px) {
  .contenedor {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }



  .header-icons {
    display: none;
  }

  .header-icons2 {
    display: flex;
    justify-content: center;
  }

}