* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
<<<<<<< HEAD
}


header {
    background-color: #EAC926;
    padding: 20px;

}

header form {
    margin-top: 5px;
    margin-left: 20px;
}

.header-icons {
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

body {

    margin: 0;
    padding: 0;
    background-color: #ebebeb
}

.logo {
    width: 300px;

}


.logo-search {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.logo img {
    display: flex;
    align-items: center;
    width: 150px;
    height: auto;
    margin-left: 10px;
    margin-top: 4px;


}


.search-bar {
    display: flex;

}

.search-bar input[type="text"] {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-bar i {
    background-color: #333;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.burger-menu i {
    text-align: center;
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.header-icons i {
    margin-right: 10px;
    font-size: 18px;
}

footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

footer div {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
}

footer h3 {
    font-size: 18px;
    margin-top: 10px;
}

footer p {
    margin-top: 10px;
}

footer div i {
    font-size: 2em;
    margin: 10px;
    color: #03264C;
}
=======

}



>>>>>>> tp04_estilos
